robotframework-appiumlibrary==1.5.0.4
robotframework-jsonlibrary 0.3.1
robotframework-jsonvalidator 2.0.0
robotframework-seleniumlibrary
pip install webdrivermanager
webdrivermanager firefox chrome --linkpath /usr/local/bin